/* @override http://localhost:4020/static/blog_template/en/current/source/body.css?1247943256 */

/* @group Section Menu */

#section-menu form {
  display: inline;
  color: #999;
}

#section-menu input {
  font-size: 14px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

#section-menu input[type=submit] {
  display: none;
}



/* @end */

/* @group Sidebar */

#sidebar {
	display: block;
	float: right;
	width: 180px;
}

/* @end */

/* @group Title Area */

#body-article #title {
	display: block;
	margin-bottom: 20px;
	margin-right: 200px; /* Sidebar */	
}

#body-article #title h2 {
	color: #999;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

/* @end */

/* @group Posts - General */

#posts {
	display: block;
	margin-right: 200px; /* Sidebar */	
}

#posts .post,
#posts #disqus_thread,
#posts .dsq-brlink {
	display: block;
	padding-left: 120px;
	position: relative;
}

#posts .post {
  min-height: 180px;
  margin-bottom: 40px;
}

#posts .post section {
	display: block;
}

.post h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 2px 0;
	margin-bottom: 10px;
	color: #333;
}

.post h2 a {
	color: inherit;
	text-decoration: none ;
}

.post h2 a:hover {
	background-color: #333;
	color: white;
}

.post h2 a:active {
	background-color: blue;
	color: white;
}

/* @end */

/* @group Labels */

#posts .post .labels {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 90px;
	overflow: hidden;
	padding: 10px;
	background-color: #e5e5e5;	
	text-align: right;
}

#posts .post .labels .author img {
	width: 30px;
	height: 30px;
	border: 1px #999 solid;
	position: absolute;
	right: 10px;
	top: 10px;
}

#posts .post .labels .author {
	padding-top: 40px;
	padding-bottom: 10px;
}

#posts .post .labels .date a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	font-size: 24px;
}

#posts .post .labels .date a:hover {
	background-color: #333;
	color: white;
}

#posts .post .labels .date a:active {
	background-color: black;
	color: white;
}

/* @end */

/* @group Regular */

.post .regular {
	font-size: 12px;
	line-height: 1.5em;
}

.post .regular blockquote {
    font-style: italic;
}

/* @end */

/* @group Photo Post */

.post .photo img {
    border: solid 10px white;
}

.post .photo .caption {
	display: block;
    font-size: 11px;
    color: #333;
    margin-top: 5px;
}

.post .photo .caption a {
    color: #333;
}

/* @end */

/* @group Quote Post */

.post .quote blockquote {
    font: Bold 28px Helvetica, sans-serif;
    letter-spacing:  -1px;
    color:  #333;
}

.post .quote blockquote a {
  	color: blue;
}

.post .quote blockquote big.quote {
    font:             Bold 60px Georgia, serif;
    line-height:      8px;
    vertical-align:   -20px;
}

.post .quote span.source {
    font-size:        16px;
    font-weight:      Bold;
    color:            {color:Quote Source};
    letter-spacing:   -1px;
}

.post .quote span.source a {
    color:            {color:Quote Source};
}

/* @end */

/* @group Link Post */

.post .link a.link {
    font-size: 14px;
    font-weight: bold;
    letter-spacing:   -1px;
}

.post .link span.description {
    font-size: 13px;
    font-weight: normal;
}

/* @end */

/* @group Conversation Post */
.post .conversation ul {
    background-color: #f0f0f0;
    list-style-type:  none;
    margin:           0px;
    padding:          4px;
    border-left:      solid 5px #999;
}

.post .conversation ul li {
    border-bottom:    solid 1px #999;
    font-size:        12px;
    padding:          4px 0px 4px 8px;
    color:            #333;
}

.post .conversation ul li span.label {
    font-weight:      bold;
    color:            black;
}

/* @group Audio Post */      
.post .audio .caption {
    font-size:        11px;
    color:            #333;
    margin-top:       5px;
}

.post .audio .caption a {
    color:            #333;
}

/* @end */

/* @group Video Post */
.post .video {
    width:            400px;
    margin:           auto;
}

.post .video .caption {
    font-size:        11px;
    color:            #333;
    margin-top:       5px;
}

.post div.video .caption a {
    color:            #333;
}

/* @end */

