<% content_for :body do %>

<%= partial :home_menu %>

<section id="lead">
  <img src="<%= sc_static('logo-large') %>" class="anchor">
  <h1 style="line-height:1.2; padding-top:0"><%= loc("_Lead.Headline") %></h1>
  <h2>SproutCore: <%= loc("_HTML5 Application Framework") %></h2>
  <p></p>
</section>

<section id="beta">
  <img src="<%= sc_static('alert') %>" class="icon">
  <h2><%= loc("_News.Headline") %></h2>
  <p><%= loc("_News.Body") %></p>
</section>
  
<% end %>