<!DOCTYPE html>
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>SproutCore - <%= @item[:title] %></title>
	  <link rel="stylesheet" href="<%= item_named('/assets/style/').reps[0].path %>" type="text/css" media="screen">
  </head>
  <body>
    <div id="wrapper">
      <div id="logo"><a href="/"><img src="/assets/images/logo.png" alt="SproutCore"></a></div>
      <ul id="menu">
        <li><a href="/what-is-sproutcore/">What is SproutCore?</a></li>
        <li><a href="/get-started/">Get Started</a></li>
        <li><a href="/demos/">Demos &amp; Sample Code</a></li>
        <li><a href="/documentation/">Documentation</a></li>
        <li><a href="/community/">Community</a></li>
        <li><a href="http://blog.sproutcore.com/">Blog</a></li>
      </ul>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="return-to-top"><a href="#top">⇡ Return to top</a></div>
    <div id="copyright">&copy;2010 Sprout Systems Inc. &amp; Contributors</div>
  </body>
</html>
