

article#body-article h1 {
	font-size: 36px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
	line-height: 1;
}

/* @group Section Menu */

#body-article ul#section-menu {
	border-bottom: 1px solid #ccc;
	list-style: none;
	color: black;
	text-align: right;
	padding-bottom: 6px;
	position: absolute ;
	left: 40px;
	right: 40px;
	top: 64px;
	
}

#body-article ul#section-menu li {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
}

#body-article ul#section-menu li.button {
	padding-left: 4px;
	top: -2px;
	position: relative;
}

#body-article ul#section-menu li a img {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

#body-article ul#section-menu a {
	color: #333;
	text-decoration: none;
	padding: 2px 4px;
}

#body-article ul#section-menu a.sc-button-view {
	padding: 0;
}

#body-article ul#section-menu a:hover {
	background-color: #333;
	color: white;
}

#body-article ul#section-menu a.sc-button-view:hover {
	background-color: transparent;
}

#body-article ul#section-menu a:active {
	background-color: black;
	color: white;
}

#body-article ul#section-menu a.current {
	font-weight: bold;
	text-decoration: underline;
}

/* @end */

