/* Core layout of items */

a img { border: none; }

/* the body and body #base are setup this way to get min-height of 100% */

body {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow:  auto;
}

#base {
	background-color: #4a5976;
	background: -webkit-gradient(linear, left top, left bottom, from(#4a5976), to(#5773aa));
	position: relative;
	min-height: 100%;
}

header {
	color: white;
	height: 48px;
	margin: 0;
	display: block;
	position:absolute ;
	top:  18px;
	left: 24px;
	right: 24px;
	z-index: 4;
}

footer {
	text-align: center;
	font-size:  9px;
	color: white;
	display: block;
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	z-index: 3;
}

article#body-article {
	display: block;
	padding: 134px 0 44px 0;
	margin: 0 34px;
	z-index: 2;
	position: relative;
}

#body-page {
	z-index: 1;
	display: block;
	position: absolute;
	top: 68px;
	left: 14px;
	right: 14px;
	bottom: 34px;	
	background-color: white;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: 4px solid #b1baca;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3) ;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
}
