<% content_for :footer do %>
</article>
<footer>
  copyright 2008-2009, Sprout Systems, Inc.  All rights reserved.
  Found a problem with the site?  No problem. <a href="http://github.com/sproutit/sproutcore-website">It's open source!</a>
</footer>
</div>
<% end %>