<% content_for :footer do %>
</article>
<footer>
  <%= loc("_Footer Copyright") %>
  <%= loc("_Problem with the site?") %>
  <a href="http://github.com/sproutit/sproutcore-website">
    <%= loc("_Its Open Source!")%>
  </a>
</footer>
</div>
<% end %>