<% content_for :header do %>
<div id="base">
<header>
  <% link_to :href => "http://www.sproutcore.com", :current => false do %>
    <img src="<%= sc_static 'header-logo' %>" id="header-logo" alt="SproutCore Logo">
  <% end %>
  
  <ul id="header-menu">
    <li><%= link_to 'Home', :href => "http://www.sproutcore.com" %></li>
    <li><%= link_to 'Download', :href => 'http://wiki.sproutcore.com/Abbot-Setting+Up' %></li>
    <li><%= link_to 'Wiki', :href => 'http://wiki.sproutcore.com' %></li>
    <li><%= link_to 'Screencasts', :href => 'http://screencasts.sproutcore.com' %></li>
    <li><%= link_to 'Blog', :class => (config.blog_current ? 'current' : ''), :href => 'http://blog.sproutcore.com' %></li>
  </ul>
  
</header>
<% # used to draw the white page background %>
<div id="body-page">&nbsp;</div>
<article id="body-article">
<% end %>