<% # Add a link to the blog for all pages on the site %>
<% content_for(:metatags) do %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds2.feedburner.com/Sproutcore-BlogPosts"/>
<% end %>
